:root {
	--font-korean: 'FontKorean';
	--font-japanese: 'FontJapanese';
	--background: #2b5d8b;
	--foreground: #e0e0e0;
	--header-background: #1f1f1f;
	--header-background-hover: #5D5D5D;
	--btn-header-login-background: #000000;
}

@font-face {
	font-family: 'Pretendard';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: 'Pretendard', sans-serif;
}

main {
	position: relative;
	z-index: 0;
	margin: 40px 8%;
}

header {
	height: 70px;
	background: var(--header-background);
	margin: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.headerIcon {
	height: 100%;
	width: 150px;
	background: #96B6E4;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.headerMenu {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	height: 100%;
	width: 100%;
}

.headerMenuBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 150px;
	z-index: 99999;
}

.headerMenuBoxOuter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 100%;
	cursor: default;
	background: var(--header-background);
}

.headerMenuBoxInner {
	background: var(--header-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;
	/* display: none; */
	z-index: 99999;
}

.headerMenuBoxOuter:hover {
	background: var(--header-background-hover);
}
.headerMenuBoxInner:hover {
	background: var(--header-background-hover);
}

.headerCredential {
    width: 20%;
    max-width: 200px;
    min-width: 150px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    position: relative; /* 자식 요소의 절대 위치를 기준으로 설정 */
}

.headerLogin {
    background: #5865F2;
    width: 100%;
    border-radius: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
    transition: filter 0.3s ease;
    cursor: pointer;
}

.userContext {
    display: none; /* 기본적으로 숨김 */
    flex-direction: column;
    position: absolute; /* 부모의 위치를 기준으로 배치 */
    top: 100%; /* 부모 요소의 아래로 */
    left: 0; /* 부모의 왼쪽 정렬 */
    background: #5865F2;
	font-size: 20px;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100; /* 다른 요소 위에 표시 */
}

.logout {
	color: rgb(192, 0, 0);
	cursor: pointer;
}

.userContext.active {
    display: flex; /* 활성화 시 표시 */
}

.userContext > a {
	width: 100%;
    background: #5865F2;
    padding: 5px 10px;
	border-radius: 10px;
}

.userContext > a:hover {
	filter: brightness(120%);
}

.loginOK {
    padding: 5px 0;
    padding-right: 20px;
}

.loginOK > label {
    cursor: pointer;
}

.headerLogin:hover {
    filter: brightness(120%);
}
.headerLogin.active {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.loginOK:hover {
    filter: none;
}

.avatar {
    border-radius: 999px;
    background-color: #313338;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
}




/* Footer */

footer {
	background-color: var(--header-background);
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.siteInfo {
	display: flex;
	align-items: center;
	gap: 10px;
	text-shadow: 2px 2px 2px #353d44;
}

.outLink, .inLink {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 20px;
	justify-content: right;
}

.inLink {
	font-size: 15px;
}

.copyright {
	font-size: 12px;
	color: rgb(117, 117, 117);
}

.copyright>a {
	color: rgb(161, 161, 161);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
	padding: 1rem;
}