.pageTop {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #e0e0e0;
}

.pageTopTitle {
	text-shadow: 2px 2px 2px #353d44;
	margin-bottom: 30px;
	font-size: 2.4em;
}

.input {
	width: 100%;
	max-width: 600px;
	height: 40px;
	border: none;
	border-radius: 15px;
	font-size: 1.7em;
	background-color: var(--header-background);
	color: var(--foreground);
	padding: 35px 55px;
	box-shadow: 0 0 50px #000000;
	text-overflow: ellipsis;
}

.input:focus {
	outline:none;
}

.search {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
}

.searchIcon {
	margin-right: -40px;
	font-size: 20px;
	z-index: 9;
}

.result {
	width: 70%;
	height: 370px;
	background-color: var(--header-background);
	margin-top: 40px;
	margin-bottom: -100px;
	border-radius: 15px;
	padding: 20px;
}





.notFountBtn {
	background-color: rgb(255, 255, 255);
	color: #212529;
	padding: 10px 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	transition: all 0.3s;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.notFountBtn>label {
	cursor: pointer;
}

.notFountBtn:hover {
	filter: brightness(80%);
	margin-top: -5px;
}

.notFountBtn:active {
	margin-top: 5px;
}