.pageTop {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #e0e0e0;
}

.pageTopTitle {
	text-shadow: 2px 2px 2px #353d44;
	margin-bottom: 30px;
	font-size: 2.4em;
}

.input {
	width: 100%;
	max-width: 600px;
	height: 40px;
	border: none;
	border-radius: 15px;
	font-size: 1.7em;
	background-color: var(--header-background);
	color: var(--foreground);
	padding: 35px 55px;
	box-shadow: 0 0 50px #000000;
	text-overflow: ellipsis;
}
.resultFocusInput {
	outline:none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 1px solid #868686;
}

.resultFocus {
	display: none;
}

.search {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
}

.searchIcon {
	margin-right: -40px;
	font-size: 20px;
	z-index: 9;
}

.result {
	max-width: 600px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 10px;
	align-items: flex-start;
	margin-left: 10px;
	background-color: var(--header-background);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 20px;
	padding-top: 15px;
	height: 450px;
	overflow: scroll;
}

.resultBlockTitle {
	font-size: 1.5em;
	font-weight: bold;
	
}


.notFountBtn {
	background-color: rgb(255, 255, 255);
	color: #212529;
	padding: 10px 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	transition: all 0.3s;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.notFountBtn>label {
	cursor: pointer;
}

.notFountBtn:hover {
	filter: brightness(80%);
	margin-top: -5px;
}

.notFountBtn:active {
	margin-top: 5px;
}




.resultChart {
	width: 100%;
	background: var(--foreground);
	color: var(--header-background);
	font-family: var(--font-korean), var(--font-japanese), 'Pretendard';
	cursor: pointer;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	transition: all 0.2s ease;
}

.resultChart:hover {
	filter: brightness(85%);
}

.resultChartTitle {
    display: inline-flex;
    text-overflow: ellipsis;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    justify-content: unset;
    flex-direction: column;
    align-items: flex-start;
}

.resultChartMode {
	display: inline-block;
	text-overflow: ellipsis;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
}

.resultChartLevel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--header-background);
	color: var(--foreground);
	border-radius: 10px;
	width: 140px;
	padding: 10px;
	margin: 10px;
}

.resultChartTitleArtist {
	display: flex;
	flex-direction: row;
	align-items: center;
}